<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% include blocks/header.ejs %>
            <h1>ABOUT</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eos est exercitationem
                facilis fugiat illo impedit itaque maxime minus officia possimus quaerat quos sint tempore, temporibus, ullam ut
                veritatis voluptatibus.</p>
            <p>THANK YOU!</p>
            <p><%=data.email%></p>
        </div>
    </div>
</div>

</body>
</html>