<% include blocks/header.ejs %>
<% include blocks/nav_bar.ejs %>
<h1>NEWS ID: <%= newsId %></h1>

<p> <%= obj.title %> </p>
<% obj.parag.forEach(function (value) { %>
<p><%= value %></p>
<% }); %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eos est exercitationem
    facilis fugiat illo impedit itaque maxime minus officia possimus quaerat quos sint tempore, temporibus, ullam ut
    veritatis voluptatibus.</p>
<% include blocks/footer.ejs %>