doctype html
html
  head
    title= title
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    ul
      li
        a(href="home") Home
      li
        a(href="home") ABOUT
      li
        a(href="home") NEWS
    block content
